<% content_for :title, "ゲームに参加する | VocaBoom!" %>

<div 
  data-controller="game timer score"
  data-game-room-id="<%= @game_room.id %>"
  data-timer-game-room-id-value="<%= @game_room.id %>"
  data-timer-time-limit-value="<%= @game_room.time_limit %>"
  data-timer-started-at-value="<%= @game_room.started_at.iso8601 if @game_room.started_at %>"
  data-timer-is-host-value="<%= @is_host ? 'true' : 'false' %>"
  data-timer-participant-id-value="<%= @participant&.id %>"
  data-game-questions-value="<%= @questions.to_json %>"
  data-is-host="<%= @is_host.to_s %>"
  data-participant-id="<%= @participant&.id %>">

  <h2>残り時間</h2>
  <p data-timer-target="display">--:--</p>

  <% if @current_question %>
    <div data-controller="word-input">
      <% @current_question[:word].chars.each_with_index do |char, index| %>
        <input type="text" maxlength="1"
               class="letter-input"
               data-word-input-target="letter"
               data-index="<%= index %>">
      <% end %>
    </div>

    <p data-game-target="question">
      <%= @current_question[:correct_answer] %>
    </p>
  <% else %>
    <p>問題がまだありません</p>
  <% end %>

  <div>
    <button type="button" data-action="click->game#submitAnswer">解答</button>
  </div>

  <p data-game-target="feedback"></p>

  <div>
    得点：<span data-score-target="value">0</span>
  </div>
</div>