<h1>キット編集</h1>

<% form_with model: @word_kit do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>
<% end %>

<ul>
<% @word_kit.word_cards.each do |card| %>
  <li>
    <%= card.english_word %>
    <%= card.japanese_translation %>
    <%= link_to '削除', word_kit_word_card_path(@word_kit, card), data: { turbo_method: :delete } %>
    <%= link_to '編集', edit_word_kit_word_card_path(@word_kit, card) %>
  </li>
<% end %>
</ul>

<%= link_to 'ゲームキット一覧画面へ', word_kits_path %>