<% content_for :title, "ゲームキット編集 | VocaBoom!" %>

<h1>キット編集</h1>

<%= form_with model: @word_kit, local: true, data: { turbo: false } do |f| %>

  <div>
    <h3>キット名</h3>
    <%= f.text_field :name %>
  </div>

  <hr>

  <h3>登録済みの単語</h3>

  <div id="existing-cards" data-nested-cards-target="container">
    <%= f.fields_for :word_cards do |card_form| %>
      <div class="card-row">
        <%= card_form.hidden_field :id %>

        <%= card_form.text_field :english_word, placeholder: "英単語" %>
        <%= card_form.text_field :japanese_translation, placeholder: "日本語" %>

        <label>
          削除
          <%= card_form.check_box :_destroy %>
        </label>
      </div>
    <% end %>
  </div>

  <hr>

  <button type="button" data-action="nested-cards#add">
    ＋ 単語を追加
  </button>

  <hr>

  <%= f.submit "更新！" %>

<% end %>