<% content_for :title, "ゲームキット編集 | Vocano!" %>

<div class="edit-page-container">
  <h1 class="word-kit-index">ゲームキット編集</h1>

  <div class="edit-card-body" data-controller="nested-cards">
    <%= form_with model: @word_kit, local: true do |f| %>
      
      <div style="margin-bottom: 30px;">
        <label class="edit-section-title">キット名</label>
        <%= f.text_field :name, class: "input-field" %>
      </div>

      <label class="edit-section-title">登録済みの単語</label>
      <div id="existing-cards" data-nested-cards-target="container">
        <%= f.fields_for :word_cards do |card_form| %>
          <div class="card-row">
            <%= card_form.hidden_field :id %>
            <%= card_form.text_field :english_word, placeholder: "英単語", class: "input-field" %>
            <%= card_form.text_field :japanese_translation, placeholder: "日本語", class: "input-field" %>
            
            <label style="color: #e74c3c; font-size: 12px; min-width: 40px; text-align: center;">
              削除<br>
              <%= card_form.check_box :_destroy %>
            </label>
          </div>
        <% end %>
      </div>

      <button type="button" class="btn-add-word" data-action="nested-cards#add">
        ＋ 新しい単語を追加
      </button>

      <label class="edit-section-title">公開設定</label>
        <div class="visibility-toggle">
          <%= f.radio_button :visibility, "private_kit", id: "private_kit" %>
          <%= label_tag "private_kit", "非公開", class: "toggle-btn" %>

          <%= f.radio_button :visibility, "public_kit", id: "public_kit" %>
          <%= label_tag "public_kit", "公開", class: "toggle-btn" %>
        </div>

      <%= f.submit "更新！", class: "btn-update" %>
    <% end %>
  </div>
</div>