<% content_for :title, "ゲームキット詳細 | Vocano!" %>

<div class="edit-page-container">
  <div class="edit-card-body">
    <h1 class="word-kit-index detail-title">
      <%= @word_kit.name %>
    </h1>

    <div class="edit-section-title">収録されている単語</div>

    <ul class="kit-list">
      <% @questions.each do |card| %>
        <li class="detail-row">
          <div class="word-display-group">
            <div class="word-box en-box">
              <%= card.english_word %>
            </div>
            
            <div class="word-divider">
              <i class="fas fa-arrow-right"></i>
            </div>

            <div class="word-box jp-box">
              <%= card.japanese_translation %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="detail-actions">
      <%= link_to edit_word_kit_path(@word_kit), class: "btn-update btn-link" do %>
        <span>編集する</span>
      <% end %>
    </div>
    
    <div class="back-link-container">
      <%= link_to "← 一覧へ戻る", word_kits_path, class: "back-link" %>
    </div>
  </div>