<% content_for :title, "ゲームに参加する | VocaBoom!" %>

<h1 class="word-kit-index">ゲームに参加する</h1>

  <div class="edit-card-body">

    <%= form_with url: participants_path, method: :post, local: true, class: "setup-form" do |f| %>
      
      <div class="input-group">
        <label class="edit-section-title">ゲームコード</label>
        <%= f.text_field :game_code, 
            class: "input-field game-code-input", 
            placeholder: "000000", 
            maxlength: 6 %>
      </div>

      <div class="input-group" style="margin-top: 30px;">
        <label class="edit-section-title">ニックネーム</label>
        <%= f.text_field :nickname, 
            required: true, 
            value: current_user ? current_user.name : "", 
            class: "input-field", 
            placeholder: "名前を入力してね" %>
      </div>

      <%= f.submit '参加する！', class: "btn-update", style: "margin-top: 40px;" %>
    <% end %>

    <div class="back-link-container">
      <%= link_to "やっぱりやめる", root_path, class: "back-link" %>
    </div>
  </div>
</div>