<div class="total-stats-section">
  <div class="total-study-card">
    <div class="label">⏱ 累計学習時間</div>
      <div class="value">
        <% time = current_user.total_hours_and_minutes %>
        <%= "#{time[:hours]}時間#{time[:minutes]}分" %>
      </div>
    </div>

  <div class="total-point-card">
    <div class="label">Ⓟ 累計獲得ポイント</div>
    <div class="value"><%= current_user.total_score %>pt</div>
  </div>
</div>

<div class="calendar-container">
  <%= month_calendar do |date| %>
    <div><%= date.day %></div>

    <% if score_by_day[date] %>
      <div class="daily-score">
        <%= score_by_day[date.to_date] %>
      </div>
    <% end %>
  <% end %>
</div>
