<div class="onboarding-container">

  <div class="slide active">
    <h2>Vocano!へようこそ！</h2>
    <p>このアプリの使い方を紹介します。</p>
    <button class="next-btn">次へ</button>
  </div>

  <div class="slide">
    <h2>ゲームキットを作ろう</h2>
    <%= image_tag "create_game_kit.png" %>
    <p>自分だけのオリジナル単語帳を作ろう！</p>
    <button class="next-btn">次へ</button>
  </div>


  <div class="slide">
    <h2>自習モード</h2>
    <%= image_tag "self_study.png" %>
    <p>1人でじっくり練習しよう！</p>
    <button class="next-btn">次へ</button>
  </div>

  <div class="slide">
    <h2>マルチモード</h2>
    <%= image_tag "game_code.png" %>
    <%= image_tag "join_game.png" %>
    <p>みんなで対戦！ランキング発表で盛りあがろう！</p>
    <button class="next-btn">次へ</button>
  </div>

  <div class="slide">
    <h2>カレンダー</h2>
    <%= image_tag "learning_log.png" %>
    <p>自分の学習記録をを確認しよう！</p>
    <button class="next-btn">次へ</button>
  </div>

  <div class="slide">
    <h2>準備OK！</h2>
    <p>さあ始めよう！</p>
    <button id="start-btn">スタート</button>
  </div>

</div>

<%= javascript_include_tag "onboarding", type: "module" %>