<% content_for :title, "トップページ | Vocano!" %>

<%= image_tag "vocano_title_logo.png", alt: "Vocano!", class: "title-logo"%>

<div class="button-container">
  <div class="button-row row-primary">
    <%= link_to new_participant_path, class: "main-button btn-join" do %>
      <span>ゲームに参戦する</span>
      <%= image_tag "icon_join.png", class: "btn-icon" if false %> <% end %>

    <%= link_to (logged_in? ? word_kits_path : login_path), class: "main-button btn-study" do %>
      <span>自習モード</span>
    <% end %>
  </div>

  <div class="button-row row-secondary">
    <%= link_to (logged_in? ? new_word_kit_path : login_path), class: "main-button btn-create" do %>
      <span>キットを作る</span>
    <% end %>

    <%= link_to (logged_in? ? word_kits_path : login_path), class: "main-button btn-open" do %>
      <span>ゲームを開く</span>
    <% end %>

    <%= link_to (logged_in? ? community_index_path : login_path), class: "main-button btn-community" do %>
      <span>コミュニティ</span>
    <% end %>
  </div>

  <%= render 'users/score_calendar', score_by_day: @score_by_day if logged_in? %>
</div>