<h1 class="community-title">公開キット</h1>

<%= render 'word_kits/search_form', url: url_for %>

<div class="community-container">
  <div class="community-grid">
    <% @public_word_kits.each do |kit| %>
  <div class="community-card">
    <%= link_to community_kit_path(kit), class: "community-card-link" do %>
      <div class="kit-header">
        <h2 class="kit-title"><%= kit.name %></h2>
        <span class="kit-author">by <%= kit.user.name %></span>
      </div>

      <div>
        <% if kit.tags.any? %>
          <div class="tag-list-row is_list">
            <% kit.tags.first(6).each do |tag| %>
              <span class="tag-badge-v2"><%= tag.name %></span>
            <% end %>

            <% if kit.tags.count > 6 %>
              <span class="tag-dots">...</span>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="word-preview">
        <% kit.word_cards.limit(6).each do |card| %>
          <div class="word-item">
            <span class="en"><%= card.english_word %></span>
            <span class="jp"><%= card.japanese_translation %></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render partial: "word_kits/heart_button", locals: { word_kit: kit } %>
  </div>
<% end %>
  </div>
</div>