<% content_for :title,  "自習モード | Vocano!" %>

<h1>自習：<%= @word_kit.name %></h1>

<div class="setup-box">
  <%= form_with url: play_word_kit_self_study_path(@word_kit), method: :get, local: true do |f| %>
    <div class="field">
      <%= f.label :time_limit, "制限時間 (分)" %><br>
      <%= f.number_field :time_limit_minutes, value: 1, min: 1, max: 60, class: "input-time" %>
    </div>

    <div class="actions">
      <%= f.submit "スタート！", class: "btn-start" %>
    </div>
  <% end %>
</div>