<% content_for :title, "ログイン | Vocano!" %>

<div class="auth-container">
  <div class="auth-card">
    <h1 class="auth-title">ログイン</h1>

    <%= form_with url: login_path, data: { turbo: false }, class: "auth-form" do |f| %>
      
      <div class="input-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, placeholder: "example@vocaboom.com" %>
      </div>

      <div class="input-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, placeholder: "••••••••" %>
      </div>

      <div class="auth-actions">
        <%= f.submit "ログイン", class: "btn-main" %>
      </div>
    <% end %>

    <div class="auth-footer">
      <%= link_to "新しくアカウントを作る", signup_path %>
    </div>
  </div>
</div>