<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Vocano!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "footer", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div id="help-btn">?</div>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>

      <div class="flash-message-container">
        <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <%= message %>
          </div>
        <% end %>
      </div>

      <%= yield %>
      
      <%= render 'shared/footer' %>
      <script>
        // 1. 関数の二重定義を防ぐために、windowオブジェクトに持たせる
        window.handleFlash = window.handleFlash || (() => {
          const flashMessages = document.querySelectorAll('.flash');
          
          flashMessages.forEach(message => {
            setTimeout(() => {
              message.classList.add('fade-out');
              setTimeout(() => {
                message.remove();
              }, 500);
            }, 3000);
          });
        });

        // 2. Turboでの遷移時と初回読み込み時の両方で実行
        document.addEventListener('turbo:load', () => window.handleFlash());
        document.addEventListener('DOMContentLoaded', () => window.handleFlash());
      </script>
    </body>
</html>
