<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "VocaBoom!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>

      <div class="flash-message-container">
        <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <%= message %>
          </div>
        <% end %>
      </div>

      <%= yield %>

      <script>
        // 共通の処理を関数にまとめる
        const handleFlash = () => {
          // HTMLのクラス名 "flash" を探すように修正
          const flashMessages = document.querySelectorAll('.flash');
          
          flashMessages.forEach(message => {
            setTimeout(() => {
              message.classList.add('fade-out');
              setTimeout(() => {
                message.remove();
              }, 500);
            }, 3000);
          });
        };

        document.addEventListener('turbo:load', handleFlash);
        document.addEventListener('DOMContentLoaded', handleFlash);
      </script>
    </body>
</html>
